.register-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.register-container h1 {
  text-align: center;
  color: #004d99;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

input, .dropdown {
  margin-bottom: 0px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%; /* Make the width consistent for all inputs */
}

button {
  background-color: #004d99;
  color: white;
  padding: 15px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #003366;
}
.disclaimer-card {
  margin-top: 20px;
  padding: 15px;
  background-color: #f4f4f4;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: "Trebuchet MS", Tahoma, sans-serif;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.disclaimer-card a {
  color: #004d99;
  text-decoration: none;
}

.disclaimer-card a:hover {
  text-decoration: underline;
}
